
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Entity.Concrete
@model List<Genre>

<div class="row" id="basic-table">
    <div class="col-12">
        <div class="card">
            <div class="card-header justify-content-between">
                <h4 class="card-title">Film Türleri</h4>
                <a href="/Genre/AddNewGenre" class="btn btn-primary waves-effect waves-float waves-light" >Yeni Tür Ekle</a>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Sisteme kayıtlı tüm film kategorileri listelenmiştir. Kategori durumu pasif olanlar sitede gösterilmemektedir. Pasif türdeki filmler, gösterime kapalıdır.
                    İşlemler sütunundaki üç noktaya tıklayarak kategori işlemlerinizi yapabilirsiniz.
                </p>
            </div>
            <div class="table-responssive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kategori Adı</th>
                            <th>Durum</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var genre in Model)
                        {
                            <tr>
                                <td><strong>@genre.Id</strong></td>
                                <td>
                                    <img src="~/theme/app-assets/images/icons/angular.svg" class="me-75" height="20" width="20" alt="Angular">
                                    <span class="fw-bold">@genre.Name</span>
                                </td>
                                <td>
                                    @if(genre.Status)
                                    {
                                        <span class="badge rounded-pill badge-light-primary me-1">Aktif</span>
                                    } else
                                    {
                                        <span class="badge rounded-pill badge-light-danger me-1">Pasif</span>
                                    }
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-sm dropdown-toggle hide-arrow py-0 waves-effect waves-float waves-light" data-bs-toggle="dropdown">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="/Genre/UpdateGenre/@genre.Id">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 me-50"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                                <span>Düzenle</span>
                                            </a>
                                            <a class="dropdown-item" href="/Genre/ChangeStatusGenre/@genre.Id">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash me-50"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                                <span>@(genre.Status?"Pasif Yap":"Aktif Yap")</span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@* ToDo: Burada tüm site içleri için toastr entegrasyonu yapılacak.
    
Status true false yerine string ifade alsın bu sayede 2 mesaj değilde cs tarafından bir çok mesaj içeriğide gönderilebilir.
Ayrıca if else kısmını dinamik olarak değiştir.

*@
@*<script type="text/javascript">
    $(document).ready(function () {
        toastr.options.positionClass = "toast-top-center"
        alert("asd")
        const status = @ViewBag?.Status
        
      
        
        if(status == null ||status == undefined) return;

        if (status) {
            toastr.success(@ViewBag.Message);
        } else {
            toastr.error(@ViewBag.Message)
        }
    });
</script> *@