@model Entities.Dtos.AddMovieDto
@{
    var Genres = ViewBag.Genres;
}
<div class="card p-5">
    <div class="card-body pb-5 px-sm-5 pt-50">
        <div class="text-center mb-2 ">
            <h1 class="mb-1">Yeni Film Ekle</h1>
            <p>Tüm alanları eksiksiz doldurun.</p>
        </div>
                
        @using(Html.BeginForm("AddNewMovie", "Film", FormMethod.Post))
        {
             <div class="row px-5">
                <div class="col-12">
                    <label class="form-label" for="name">Film Adı</label>
                    @Html.TextBoxFor(x => x.Movie.Name, new { @class = "form-control", @placeHolder = "Film Adı" })
                    @Html.ValidationMessageFor(x => x.Movie.Name)
                </div>
                <div class="col-4 col-md-4">
                    <label class="form-label" for="modalEditUserFirstName">Imdb Puanı</label>
                    @Html.TextBoxFor(x => x.Movie.IMDB, new { @class = "form-control", @type = "number", @step = "0.1", @min = "0", @max = "10", @placeHolder = "0" })
                    @Html.ValidationMessageFor(x => x.Movie.IMDB)
                </div>
                <div class="col-4 col-md-4">
                    <label class="form-label" for="modalEditUserFirstName">Çıkış Tarihi</label>
                    @Html.TextBoxFor(x => x.Movie.Year, new { @class = "form-control", @type = "number", @step = "1", @min = "1950", @max = "2022", @placeHolder = "2020" })
                    @Html.ValidationMessageFor(x => x.Movie.Year)
                </div>
                <div class="col-4 col-md-4">
                    <label class="form-label" for="modalEditUserFirstName">Film Süresi</label>
                    @Html.TextBoxFor(x => x.Movie.Time, new { @class = "form-control", @placeHolder = "2 saat 13 dakika" })
                    @Html.ValidationMessageFor(x => x.Movie.Time)
                </div>
                <div class="col-12">
                    <label class="form-label" for="name">Film Poster Link (1000x400)</label>
                    @Html.TextBoxFor(x => x.Movie.PosterLink, new { @class = "form-control", @placeHolder = "www." })
                    @Html.ValidationMessageFor(x => x.Movie.PosterLink)
                </div>
                <div class="col-12">
                    <label class="form-label" for="name">Film WallPaper Link (1920x1080)</label>
                    @Html.TextBoxFor(x => x.Movie.WallpaperLink, new { @class = "form-control", @placeHolder = "www." })
                    @Html.ValidationMessageFor(x => x.Movie.WallpaperLink)
                </div>
                <div class="col-12">
                    <label class="form-label" for="name">Film Video Link (.mp4 şeklinde olan link)</label>
                    @Html.TextBoxFor(x => x.Movie.VideoLink, new { @class = "form-control", @placeHolder = "www." })
                    @Html.ValidationMessageFor(x => x.Movie.VideoLink)
                </div>
                <div class="col-12">
                    <label class="form-label" for="name">Film Açıklaması (Maksimum 200 karakter)</label>
                    @Html.TextAreaFor(x => x.Movie.Description, new { @class = "form-control", @placeHolder = "Film hakkında basit açıklama" })
                    @Html.ValidationMessageFor(x => x.Movie.Description)
                </div>
                
                <div class="col-12">
                    <label class="form-label" for="default-select-multi">Film Türü</label>
                    <div class="mb-1" data-select2-ids="240">
                        <div class="position-relative" data-select2s-id="239">
                            <select onchange="test()" asp-name="GenreIds" name="GenreIds" class="select2 form-select select2-hidden-accessible" multiple="" id="default-select-multi" data-select2-id="default-select-multi" tabindex="-1" aria-hidden="true">
                                @foreach(var genre in Genres)
                                {
                                    @:<option value="@genre.Id" >@genre.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center mt-2 pt-50">
                    <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Ekle</button>
                    <a href="/Film" type="reset" class="btn btn-outline-secondary waves-effect">
                        Vazgeç
                    </a>
                </div>
            </div>
        }
       
                
    </div>
</div>
<script>
    function test() {
        console.log($("#default-select-multi"))
    }
</script>
