@model List<Entities.Dtos.MovieDto>

<div class="container-fluid">
    <div class="text-center mb-4">
        <h1>Film Listesi</h1>
    </div>
    <div class="d-flex justify-content-end my-3">
        <a href="/Film/AddNewMovie" type="button" class="btn btn-primary waves-effect waves-float waves-light">Yeni Film Ekle</a>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <div style="position:relative; height:400px; background-size:cover !important; object-fit: cover; background: transparent url(@item.Movie.PosterLink) no-repeat center center;">
                        <div class="position-absolute top-0 start-0">
                            <span class="badge badge-glow bg-primary">IMDB: @item.Movie.IMDB.ToString().Replace(",", ".")</span>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <span class="badge badge-glow bg-warning">@item.Movie.Time</span>
                        </div>

                    </div>
                    <div class="card-body">
                        <p class="text-center">
                            <a class="card-text fw-bold">@item.Movie.Name</a>
                        </p>
                        <div class="my-2">
                            @foreach(var genre in item.Genres)
                            {
                                <span class="badge bg-danger">@genre.Name</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
