@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Entities.Dtos.MovieDto
    
<div id="banner" class="banner" style="background-image: url(@Model.Movie.WallpaperLink)">
    <div>
        <div class="banner-body">
            <div class="d-flex align-items-center">
                <div class="play-btn me-4" id="play-video">
                    <i class="fa fa-play"></i>
                </div>
                <div class="ms-4 movie-name">
                   @Model.Movie.Name
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-5">
     <video id="video" width="720" height="1180" controls>
      <source src="~/videos/video.mp4" type="video/mp4">
      Your browser does not support HTML video.
    </video>
</div>
<div class="">
    <div class="container-fluid">
        <div class="py-5 my-3 ">
            <div class="row py-5">
                <div class="col-md-3">
                    <img src="@Model.Movie.PosterLink" />
                </div>
                <div class="col-md-9 my-5 dd-f">
                    <div>
                        <div>
                            <h1>@Model.Movie.Name</h1>
                        </div>
                        <div class="movie-details-info mt-4">
                            <span class="detail-info badge bg-warning text-dark"><i class="fa fa-user"></i> Imdb: @Model.Movie.IMDB</span>
                            <span class="detail-info badge bg-warning text-dark"><i class="fa fa-clock-o"></i> @Model.Movie.Time</span>
                            <span class="detail-info badge bg-warning text-dark"><i class="fa fa-smile-o"></i> @Model.Movie.Year</span>
                        </div>
                        <div class="my-2">
                            @foreach(var genre in Model.Genres)
                            {
                                <span class="detail-info badge bg-danger text-dark"><i class="fa fa-film"></i> @genre.Name</span>
                            }
                        </div>
                        <div class="my-4 movie-description">
                            <p>
                                @Model.Movie.Description
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <a id="playvideo" class="btn d-block hvr-sweep-to-right">
                                <i class="fa fa-play"></i>
                                İzle
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button id="playTrailer" class="btn d-block hvr-sweep-to-right "data-bs-toggle="modal" data-bs-target="#show-fragman">
                                <i class="fa fa-film"></i>
                                Fragman
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<section class="comments">
    <div class="container-fluid">
        <h2 class="block-title">Yorumlar</h2>
        <div>
            <div class="row">
                <div class="col-xl-6 my-3">
                    @if(ViewBag.Comments != null && ViewBag.Comments.Count != 0)
                    {
                        @foreach(var comment in ViewBag.Comments)
                        {
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <h4 class="card-title">@comment.Name</h4>
                                    <div>
                                        @comment.CreatedAt.ToLongDateString()
                                    </div>
                                </div>
                                <div class="card-body">
                                    @comment.CommentContent
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <span class="badge bg-warning fs-6 my-2">Bu filme henüz yorum yapılmamamış.</span>
                            <p >Hemen yorum yap. İlk yorum yapanlardan ol.</p>
                        </div>
                    }
                </div>

            </div>
            @*Yorum Partial*@
            @await Html.PartialAsync("CommentForm", new Entities.Concrete.Comment(){MovieId=Model.Movie.Id})
        </div>
    </div>
</section>


<div id="show-fragman" class="modal " tabindex="-1">
  <div class="modal-dialog modal-xl" style="max-width: 889px;">
    <div class="modal-content">
      <div class="modal-body w-100">
       <iframe id="trailer" width="852" height="480" src="https://www.youtube.com/embed/mQ_F_0jA59k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button id="closeFragman" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>


@await Component.InvokeAsync("PopularMovie")

@section scripts {
<script>
    $("#video").hide()
    $(document).ready(() => {
        var fragmanLink = $("#trailer").attr("src");
        $("#trailer").attr("src","");
        $("#playerid").attr("src",video);

        $("#play-video,#playvideo").click(() => {
            $("#banner").hide()
            $("#video").show()
            console.log( $("#video"));
            $("#video").trigger('play');
            $(window).scrollTop($('#video').position().top);
        })

        $("#playTrailer").click(() => {
            $("#trailer").attr("src",fragmanLink);
        })

        $("#closeFragman").click(() => {
            $("#trailer").attr("src","");
        })
    })
</script>
}