@{
    ViewData["Title"] = "Home Page";
}
@model List<Entities.Dtos.MovieDto>


<div class="main-slider" id="main-slider">
    <div class="slider big-slider slider-wrap slick-initialized slick-slider slick-dotted">
        <i class="prev-arrow fa fa-chevron-left slick-arrow" style=""></i>
        <div class="slick-list draggable" style="height: 750px">
            <div class="slick-track">
                
                <div class="slide slick-bg bg-1 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 1905px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00">
                    <div class="container-fluid position-relative h-100">
                        <div class="slider-content h-100">
                            <div class="row align-items-center h-100">
                                <div class="col-xl-6 col-lg-12 col-md-12">
                                    <h3 data-animation-in="fadeInUp" data-delay-in="1" class="fadeInUp animated" style="opacity: 1; animation-delay: 1s;"><span class="badge bg-warning text-dark">Yeni</span></h3>
                                    <h1 data-animation-in="fadeInUp" data-delay-in="1" class="fadeInUp animated" style="opacity: 1; animation-delay: 1s;">Iron door</h1>
                                    <div class="slide-info fadeInUp animated" data-animation-in="fadeInUp" data-delay-in="1" style="opacity: 1; animation-delay: 1s;">
                                        <span>2021</span> <span class="radius">+18</span> <span>2 saat 6 dakika</span>
                                    </div>
                                    <p data-animation-in="fadeInUp" data-delay-in="1" class="fadeInUp animated" style="opacity: 1; animation-delay: 1s;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <div class="slider-buttons d-flex align-items-center fadeInUp animated" data-animation-in="fadeInUp" data-delay-in="1" style="opacity: 1; animation-delay: 1s;">
                                        <a class="btn hvr-sweep-to-right" href="watch-movie.html" tabindex="0">
                                            <i aria-hidden="true" class="fa fa-play mr-2"></i>
                                            Hemen İzle
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slick-track">
                
                <div class="slide slick-bg bg-1 slick-" data-slick-index="0" aria-hidden="false" style="width: 1905px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="0" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01">
                    <div class="container-fluid position-relative h-100">
                        <div class="slider-content h-100">
                            <div class="row align-items-center h-100">
                                <div class="col-xl-6 col-lg-12 col-md-12">
                                    <h3 data-animation-in="fadeInUp" data-delay-in="1" class="fadeInUp animated" style="opacity: 1; animation-delay: 1s;"><span class="badge bg-warning text-dark">Yeni</span></h3>
                                    <h1 data-animation-in="fadeInUp" data-delay-in="1" class="fadeInUp animated" style="opacity: 1; animation-delay: 1s;">Iron door</h1>
                                    <div class="slide-info fadeInUp animated" data-animation-in="fadeInUp" data-delay-in="1" style="opacity: 1; animation-delay: 1s;">
                                        <span>20asds21</span> <span class="radius">+18</span> <span>2 saat 6 asdsadsdakika</span>
                                    </div>
                                    <p data-animation-in="fadeInUp" data-delay-in="1" class="fadeInUp animated" style="opacity: 1; animation-delay: 1s;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <div class="slider-buttons d-flex align-items-center fadeInUp animated" data-animation-in="fadeInUp" data-delay-in="1" style="opacity: 1; animation-delay: 1s;">
                                        <a class="btn hvr-sweep-to-right" href="watch-movie.html" tabindex="0">
                                            <i aria-hidden="true" class="fa fa-play mr-2"></i>
                                            Hemen İzle
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <i class="next-arrow fa fa-chevron-right slick-arrow" style=""></i>
    </div>
</div>

<section class="pupular">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="block-title">En Çok İzlenenler</h2>
                <div class="movie-list">
                    <div class="movie-list-item ms-0">
                        <div class="popular-movie-poster">
                            <img src="https://excellencetheme.com/templates/avastream/images/popular/01.jpg" />
                        </div>
                        <div class="video-content">
                            <h2 class="video-title"><a href="movie-single.html">Criminal</a></h2>
                            <div class="video-info d-flex align-items-center">
                                <span class="video-year">2021</span> <span class="video-age">+18</span> <span class="video-type">Action</span>
                            </div>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <div class="popular-movie-poster">
                            <img src="https://excellencetheme.com/templates/avastream/images/popular/02.jpg" />
                        </div>
                        <div class="video-content">
                            <h2 class="video-title"><a href="movie-single.html">Criminal</a></h2>
                            <div class="video-info d-flex align-items-center">
                                <span class="video-year">2021</span> <span class="video-age">+18</span> <span class="video-type">Action</span>
                            </div>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <div class="popular-movie-poster">
                            <img src="https://excellencetheme.com/templates/avastream/images/popular/03.jpg" />
                        </div>
                        <div class="video-content">
                            <h2 class="video-title"><a href="movie-single.html">Criminal</a></h2>
                            <div class="video-info d-flex align-items-center">
                                <span class="video-year">2021</span> <span class="video-age">+18</span> <span class="video-type">Action</span>
                            </div>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <div class="popular-movie-poster">
                            <img src="https://excellencetheme.com/templates/avastream/images/popular/04.jpg" />
                        </div>
                        <div class="video-content">
                            <h2 class="video-title"><a href="movie-single.html">Criminal</a></h2>
                            <div class="video-info d-flex align-items-center">
                                <span class="video-year">2021</span> <span class="video-age">+18</span> <span class="video-type">Action</span>
                            </div>
                        </div>
                    </div>
                    <div class="movie-list-item me-0">
                        <div class="popular-movie-poster">
                            <img src="https://excellencetheme.com/templates/avastream/images/popular/05.jpg" />
                        </div>
                        <div class="video-content">
                            <h2 class="video-title"><a href="movie-single.html">Criminal</a></h2>
                            <div class="video-info d-flex align-items-center">
                                <span class="video-year">2021</span> <span class="video-age">+18</span> <span class="video-type">Action</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Col End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</section>
<br />
<br />
<br />
<br />
<section class="all-movies">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="block-title">Tüm Filmler</h2>
                <div class="row my-5">
                    @foreach(var movie in Model)
                    {
                        <div class="movie-list-item col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 my-4">
                            <div class="popular-movie-poster position-relative">
                                <img  class="img-fluid" src="@movie.Movie.PosterLink" />
                                <div class="position-absolute bottom-0 start-0">
                                    <span class="badge bg-warning fs-6 m-1">IMDB: @movie.Movie.IMDB</span>
                                </div>
                                <div class="position-absolute bottom-0 end-0">
                                    <span class="badge bg-danger fs-6 m-1">@movie.Movie.Year</span>
                                </div>
                            </div>
                            <div class="video-content">
                                <h2 class="video-title">
                                    <a href="/Film/Detay/@movie.Movie.Id">@movie.Movie.Name</a>
                                </h2>
                                <div class="video-info d-flex align-items-center text-trusncate">
                                    @foreach(var genre in movie.Genres)
                                    {
                                        <span class="me-1">@genre.Name</span>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- Col End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</section>
